## celestial values for weather34 skin
#errorCatcher Echo
#encoding UTF-8
<?php
## If extended almanac information is available, do extra calculations.
#if $almanac.hasExtras
  #set $sun_altitude = $almanac.sun.alt
  #if $sun_altitude < 0
    #set $sun_None="<i>(Always down)</i>"
    #set $daylight_str = "00:00"
  #else
    #set $sun_None="<i>(Always up)</i>"
    #set $daylight_str = "24:00"
  #end if
  #set $sunrise_ts = $almanac.sun.rise.raw
  #set $sunset_ts = $almanac.sun.set.raw
  #if $sunrise_ts and $sunset_ts
    #set $now = $current.dateTime.raw
    #set $today_daylight = $sunset_ts -  $sunrise_ts
    #set $seconds = $today_daylight
    #set $hours = $seconds //3600
    #set $seconds %= 3600
    #set $minutes = $seconds//60
    #set $seconds %= 60
    #set $daylight_str = "%d hours, %d minutes, %d seconds" % ($hours, $minutes, $seconds)
    #set $yesterday = $now - 24*3600
    #set $yesterday_daylight = $almanac($almanac_time=$yesterday).sun.set.raw - $almanac($almanac_time=$yesterday).sun.rise.raw
    #set $difference = $today_daylight - $yesterday_daylight
    #if $difference
      #set $delta = abs($difference)
      #set $amt_str = "%s%d seconds" % (str(int($delta) // 60) + ' minutes, ' if ($delta // 60) > 0 else '', $delta % 60 if ($delta // 60) > 0 else $delta)
      #if $difference > 0
        #set $delta_str = "%s more than yesterday" % $amt_str
      #else
        #set $delta_str = "%s less than yesterday" % $amt_str
      #end if
      ##set $daylight_str = "%s<br/>%s" % ($daylight_str, $delta_str)
    #end if
  #end if
#end if
#if $almanac.hasExtras
$astronomical_twighlight_begin	=	"$almanac(horizon=-18).sun(use_center=1).rise";	  
$nautical_twighlight_begin		=	"$almanac(horizon=-12).sun(use_center=1).rise";
$civil_twighlight_begin 		= 	"$almanac(horizon=-6).sun(use_center=1).rise";
$sun_rise 						= 	"$almanac.sun.rise.format(None_string=$sun_None)";
$sun_meridian_transit			= 	"$almanac.sun.transit";
$sun_set 						= 	"$almanac.sun.set.format(None_string=$sun_None)";
$civil_twighlight_end 			= 	"$almanac(horizon=-6).sun(use_center=1).set";
$nautical_twighlight_end 		= 	"$almanac(horizon=-12).sun(use_center=1).set";
$astronomical_twighlight_end 	= 	"$almanac(horizon=-18).sun(use_center=1).set";
$sun_azimuth					= 	"$almanac.sun.az";          
$sun_alt						=	"$almanac.sun.alt";          
$sun_right_ascension			= 	"$almanac.sun.ra";          
$sun_declination				= 	"$almanac.sun.dec";
$sun_dist					   =	"$($almanac.sun.earth_distance * 1.4959787e11 / 1000) km";
$sidereal_time					=	"$almanac.sidereal_time";          
$winter_solstice				=	"$almanac.next_winter_solstice";
$summer_solstice				=	"$almanac.next_summer_solstice";
$vernal_equinox					=	"$almanac.next_vernal_equinox";
$autumnal_equinox				=	"$almanac.next_autumnal_equinox";
$total_daylight					=	"$daylight_str";
$moon_rise						=	"$almanac.moon.rise";
$moon_meridian_transit			=	"$almanac.moon.transit";
$moon_set						=	"$almanac.moon.set";
$moon_azimuth					= 	"$almanac.moon.az";          
$moon_altitude					= 	"$almanac.moon.alt";          
$moon_right_ascension			= 	"$almanac.moon.ra";          
$moon_declination				= 	"$almanac.moon.dec";
$moon_dist					=	"$($almanac.moon.earth_distance * 1.4959787e11 / 1000) km";        
$new_moon						=	"$almanac.next_new_moon";
$first_quarter_moon				=	"$almanac.next_first_quarter_moon";
$full_moon						=	"$almanac.next_full_moon";
$last_quarter_moon				=	"$almanac.next_last_quarter_moon";
$moon_phase						=	"$almanac.moon_phase";
$moon_fullness					=	"$almanac.moon.moon_fullness";
$mercury_hlongitude				=	"$almanac.mercury.hlong";
$venus_hlongitude				=	"$almanac.venus.hlong";
$earth_hlongitude				=	"$almanac.sun.hlong";
$mars_hlongitude				=	"$almanac.mars.hlong";
$jupiter_hlongitude				=	"$almanac.jupiter.hlong";
$saturn_hlongitude				=	"$almanac.saturn.hlong";
$uranus_hlongitude				=	"$almanac.uranus.hlong";
$neptune_hlongitude				=	"$almanac.neptune.hlong";
$pluto_hlongitude				=	"$almanac.pluto.hlong";
if (strtotime(date('G.i')) >= strtotime($civil_twighlight_begin) && strtotime(date('G.i')) < strtotime($civil_twighlight_end)) {
  $dayPartCivil = "day";
} else {
  $dayPartCivil = "night";
}
if (strtotime(date('G.i')) >= strtotime($nautical_twighlight_begin) && strtotime(date('G.i')) < strtotime($nautical_twighlight_end)) {
  $dayPartNautical = "day";
} else {
  $dayPartNautical = "night";
}
if (strtotime(date('G.i')) >= strtotime($astronomical_twighlight_begin) && strtotime(date('G.i')) < strtotime($astronomical_twighlight_end)) {
  $dayPartNautical = "day";
} else {
  $dayPartNautical = "night";
}
#end if
?>

